@import url('https://fonts.googleapis.com/css?family=Montserrat');

.welcome-body{
    margin:0;
    padding:0;
}

.grid-container {
    height:100vh;
    /* min-width: 0px; */
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    /* grid-column-gap: 3%; */
}

.picture1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    /* overflow: hidden; */
    height: 100%;
    /* Adjust the height of the container */
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.52), rgba(59, 92, 97, 0.73));
  }
  
#personkitchen {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

.picture1 > img {
    object-fit: none;
    width: 100%;
    max-height: 70.5%;
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(30, 91, 118, 0.73)); */
}

.bigLandingText{
    font-size: 76px; 
    font-weight: 800;
    grid-row-start:1;
    color: rgb(191, 186, 186);
    grid-column-start:4;
    margin-top: 50%;
    margin-left: -30%;
    margin-right: -50%;
    position: relative;
    /* text-shadow: 1px 1px 2px black; */
}

.smallLandingText{
    /* margin-top: 10px; */
    font-size: 42px;
    grid-row-start:1;
    color: rgb(191, 186, 186);
    grid-column-start:4;
    margin-top: 85%;
    /* margin-left: -20%;
    margin-right: -1%; */
    font-weight: 500;
    text-align: end;
    position: relative;
    margin-left: -30%;
    margin-right: 7%;
    /* text-shadow: 1px 1px 2px black; */
    /* justify-content: space-between; */
}

.testimonials {
    font-size: 80px;
    font-style: bold;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: end;
    margin-bottom: 15%;
    font-weight: 1000;
}

.picture2 {
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 3;
}

.picture2 > img {
    object-fit: cover;
    width: 80%;
    max-height: 90%;
    border-radius: 100px;
    border-color: white;
    margin-left: 2%;
}

.quote2{
    grid-column-start: 4;
    grid-row-start: 3;
    font-size: 40px;
    font-style: italic;
    align-self: center;
    margin-right: 15%;
    margin-left: -30%;
}

.picture3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
}

.picture3 > img {
    object-fit: cover;
    width: 80%;
    max-height: 90%;
    margin-left: 10%;
    border-radius: 100px;
    border-color: white;
}

.quote3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    font-size: 40px;
    font-style: italic;
    margin-left: 60px;
    align-self: center;
}

.picture4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
}

.picture4 > img {
    object-fit: cover;
    width: 80%;
    max-height: 100%;
    margin-left: 2%;
    border-radius: 100px;
    border-color: white;
}

.quote4{
    grid-column-start: 4;
    grid-row-start: 5;
    font-size: 35px;
    margin-right: 15%;
    margin-left: -30%;
    font-style: italic;
    align-self: center;
}

.picture5 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
}

.picture5 > img {
    object-fit: cover;
    width: 80%;
    max-height: 80%;
    border-radius: 100px;
    border-color: white;
    margin-left: 15%;
    margin-top: 2%;
}

.quote5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    font-size: 40px;
    font-style: italic;
    margin-left: 60px;
    align-self: center;
}
.loginbutton{
    grid-column-start: 4; 
    grid-row-start: 1;
    margin-top: 5%;
    margin-left: -20%;
}

.signupbutton{
    grid-column-start: 4;
    grid-row-start: 1;
    margin-top: 5%;
    margin-left: 5%;
}

.googlebutton{
    grid-column-start: 4;
    grid-row-start: 1;
    margin-top: 5%;
    margin-left: 33%;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; Updated font family */
  }
  
  .homepage-title {
    font-size: 36px; /* Increased font size */
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold; /* Added font weight */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .checkbox-group label {
    margin-right: 10px;
    font-size: 18px; /* Increased font size */
    color: #555;
    font-family: 'Open Sans', sans-serif; /* Updated font family */
  }
  
  .weeks-input {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .calendar-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .calendar-title {
    font-size: 42px; /* Increased font size */
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 1000px; /* Added font weight */
  }
  
  .grocery-list-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .grocery-list-title {
    font-size: 42px; /* Increased font size */
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold; /* Added font weight */
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    /* background-color: #6495ED; */
    background-image: linear-gradient(to right, rgba(88, 103, 105, 0.73), rgba(59, 92, 97, 0.73));
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  .logo-button {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-button:hover {
    transform: scale(1.1);
  }
  
  .logo {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: text-shadow 0.3s ease-in-out;
  }
  
  .logo:hover {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navigation-buttons {
    display: flex;
    align-items: center;
  }
  
  .navigation-buttons button {
    margin-right: 8px;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(36, 57, 60, 0.73);
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    color: rgb(191, 186, 186);
    font-weight: bold;
    border: 2px solid transparent; /* Add transparent border */
}

.navigation-buttons button:hover {
  background-color: #E9E9E9;
  border-color: #E9E9E9; /* Change border color on hover */
}
  
  .navigation-buttons button:last-child {
    margin-right: 0;
  }
  
.about{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  h1{
    font-size: 10px;
    background-color: rgb(191, 186, 186);
    font-weight: 500px;
  };
  ul{
    font-size: 10px;
  };
}
